<h1>New Author</h1>

<%= form_with model: @authors do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :qualification %><br>
    <%= form.text_field :qualification %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>